/*удалить потом чтоб было видно лого*/
.page-header {
    padding: 10px;
    background-color: #eeeeee;
}

.page-footer {
    padding: 10px;
    background-color: #eeeeee;
}

/*конец удалить*/
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: #fff;
}

/*Логотип Шапка*/

.page-header .header-logo {
    width: 205px;
    height: 55px;
}

.page-footer {
    margin-top: 20px;
}

.page-header {
    background-color: #363636;
    color: #c3c3c3;
}

.main-nav {
    list-style: none;
}

.main-nav li {
    text-transform: uppercase;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.promo {
    font-family: "Georgia", sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    text-align: center;
}

.promo a {
    color: #fff;
    text-decoration: none;
}

/*Кнопки*/
.btn {
    color: #a38b70;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    color: #8d745a;
}

.btn:active {
    color: rgba(141, 116, 90, 0.3);
}

/*Преимущества*/
.features ul {
    list-style-type: none;
}

.feature-item {
    text-align: center;
    border-left: 1px solid #d9d9d9;
}

.feature-item:first-child {
    border: none;
}

.feature-item p {
    font-size: 16px;
}

.feature-title {
    font-family: "Georgia", serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #a38b70;
}

/*Блок теория*/
.cat-reference {
    background-color: #f2f2f2;
}

.section-title {
    font-family: "Georgia", serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: #a38b70;
}

.reference-title {
    font-size: 24px;
}

.reference-source {
    font-size: 16px;
    color: #666;
    font-style: italic;
}

.cat-reference dd {
    font-size: 16px;
}

.cat-reference dd img {
    border-radius: 5px;
}

.reference-source a {
    color: #a38b70;
}

.reference-source a:hover {
    color: #8d745a;
}

.reference-source a:active {
    color: rgba(141, 116, 90, 0.3);
}

/*Отзывы*/
.review-item {
    font-size: 16px;
    border-left: 3px solid #a38b70;
}

.review-author {
    font-style: italic;
    font-weight: bold;
}

/*Популярные товары*/

.cat-reference dl dd img {
    width: 100px;
    height: 100px;
}

.popular-and-price .popular-items .catalog-item img {
    width: 306px;
    height: 206px;
}

.popular-and-price {
    background-color: #f2f2f2;
}

.catalog-item {
    font-size: 16px;
}

.catalog-item h3 {
    font-size: 16px;
    color: #000;
}

/*Прайс-лист*/

.price-list {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px;
}

.price-list td {
    border: 1px solid #d8d8d8;
}

.price-list th {
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}

.price-list th,
.price-list td {
    padding: 5px 10px;
}

.price-list .price-number {
    text-align: center;
}

.price-list .price-name {
    font-weight: bold;
    color: #000;
}

/*Форма для вопросов*/

.feedback-form-group {
    padding: 10px 0;
}

.feedback-tip {
    font-size: 16px;
}

.feedback-form-group label {
    font-size: 12px;
    text-transform: uppercase;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
    border-color: #bebebe;
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
    border-color: #8d745a;
}

.checkbox-area{
    border-bottom: 1px solid #d5d5d5;
}

/*Подвал*/

.page-footer{
    background-color: #363636;
    color: #c3c3c3;
}

.footer-middle, .footer-bottom{
    border-top: 1px solid #5e5e5e;
}

.footer-menu h3{
    font-family: "Georgia", serif;
    font-size: 24px;
    font-weight: bold;
    color: #a38b70;
}

.footer-menu ul{
    list-style-type: none;
}

.footer-menu a{
    font-size: 16px;
    color: #c3c3c3;
    text-decoration: none;
}

.footer-menu a:hover{
    color: #fff;
}

.footer-menu a:active{
    color: rgba(255, 255, 255, 0.3);
}

.footer-social b{
    font-family: "Georgia", serif;
    font-size: 24px;
    color: #a38b70;
}

.social-btn{
    color: #fff;
}

.footer-copyright{
    color: #fff;
    text-transform: uppercase;
}

.footer-copyright a{
    color: #fff;
    text-decoration: none;
}

.footer-copyright a:hover{
    text-decoration: underline;
}

.footer-copyright a:active{
    color: rgba(255, 255, 255, 0.3);
}



