body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: #fff;
}

/*Clearfix*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*Контейнер для выравнивания по середине*/
.container {
    width: 1020px;
    margin: 0 auto;
}

/*Логотип Шапка*/

.header-logo {
    width: 205px;
    height: 55px;
    float: left;
}

.header-logo img {
    width: 205px;
    height: 55px;
}

.page-footer {
    margin-top: 20px;
}

.page-header {
    color: #c3c3c3;
    background: url("img/header-bg.jpg") no-repeat center;
    background-size: cover;
    min-height: 490px;
    padding-top: 35px;
}

.main-nav {
    padding: 0;
    margin: 0;
    margin-left: 125px;
    margin-top: 18px;
    list-style: none;
    float: left;
    width: 520px;
}

.main-nav li {
    text-transform: uppercase;
    float: left;
    margin-right: 50px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.promo {
    font-family: "Georgia", sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    text-align: center;
}

.promo a {
    color: #fff;
    text-decoration: none;
}


.header-top {
    margin-bottom: 125px;
}


/*Кнопки*/
.btn {
    color: #a38b70;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #a38b70;
    padding: 10px;
    width: 146px;
    word-wrap: break-word;
    text-align: center;
    font: inherit;
    border-radius: 2px;
}

.btn:hover {
    color: #8d745a;
    border-color: #8d745a;
}

.btn:active {
    color: rgba(141, 116, 90, 0.3);
    border-color: #8d745a;
}

.btn-quick-order {
    float: right;
    margin-top: 6px;
    border-color: #fff;
    color: #fff;
}

.btn-quick-order:hover {
    color: #404040;
    background-color: #fff;
    border-color: #fff;
}

.btn-quick-order:active {
    color: rgba(64, 64, 64, 0.3);
    background-color: #fff;
    border-color: #fff;
}

/*Преимущества*/
.features ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.feature-item {
    width: 278px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    border-left: 1px solid #d9d9d9;
    padding-top: 90px;
    float: left;
    position: relative;
}

.feature-item:first-child {
    border: 1px solid transparent;
}

.feature-item p {
    font-size: 16px;
    margin: 0;
}

.feature-item::before {
    width: 65px;
    height: 65px;
    position: absolute;
    content: "";
    top: 0;
    left: 137px;
    background: url("img/sprite.png") no-repeat;
}

.feature-title {
    font-family: "Georgia", serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #a38b70;
    margin: 0;
    margin-bottom: 20px;
}

.feature-choice::before {
    background-position: -5px -5px;
}

.feature-quality::before {
    background-position: -5px -76px;
}

.feature-safety::before {
    background-position: 1px -143px;
}

.features {
    padding-top: 50px;
    padding-bottom: 55px;
}

/*Заголовки*/
.section-title {
    /* сверху | справа | снизу | слева */
    /*отступ справа для кнопки*/
    margin: 0 180px 60px 0;
    font-family: "Georgia", serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: #a38b70;
}

/*Блок теория*/
.cat-reference {
    background-color: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 90px;
}

.cat-reference .container{
    position: relative;
}

.to-full-reference{
    position: absolute;
    top: 5px;
    right: 0;
}

.reference-title {
    font-size: 24px;
    display: inline;
}

.cat-reference dl {
    width: 820px;
    padding: 0;
    margin: 0;
}

.cat-reference dt {
    margin: 0;
    margin-bottom: 10px;
}

.cat-reference dd {
    margin: 0;
    font-size: 16px;
    position: relative;
    min-height: 100px;
    padding-left: 130px;
}

.cat-reference dd img {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.cat-reference dd p{
    margin: 0;
}

.cat-reference .reference-title{
    margin: 0;
}

.cat-reference dd + dt {
    margin-top: 70px;
}

.reference-source {
    font-size: 16px;
    color: #666;
    font-style: italic;
}

.reference-source a::after{
    width: 8px;
    height: 8px;
    position: absolute;
    content: "";
    top: 0;
    right: -10px;
    background: url("img/sprite.png") no-repeat -5px -210px;
}

.reference-source a {
    color: #a38b70;
    position: relative;
}

.reference-source a:hover {
    color: #8d745a;
}

.reference-source a:active {
    color: rgba(141, 116, 90, 0.3);
}

/*Отзывы*/
.reviews {
    padding-top: 70px;
    padding-bottom: 90px;
}

.review-item {
    width: 377px;
    /* сверху | справа | снизу | слева */
    margin: 0 80px 0 0;
    padding: 0 0 0 50px;
    font-size: 16px;
    border-left: 3px solid #a38b70;
    float: left;
}

.review-item p{
    margin: 0 0 15px 0;
}

.review-author {
    font-style: italic;
    font-weight: bold;
}

.reviews .container{
    position: relative;
}

.to-all-reviews{
    position: absolute;
    top: 0;
    right: 0;
}

/*Популярные товары*/

.cat-reference dl dd img {
    width: 100px;
    height: 100px;
}

.popular-and-price .popular-items .catalog-item img {
    width: 306px;
    height: 206px;
}

.popular-and-price {
    background-color: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 90px;
}

.popular-and-price .container{
    position: relative;
}

.catalog-item {
    width: 262px;
    border: 1px solid #d8d8d8;
    margin-right: 48px;
    font-size: 16px;
    float: left;
    /* сверху | справа | снизу | слева */
    padding: 15px 22px 15px 22px;
    position: relative;
    padding-top: 221px;
}

.catalog-item img {
    /*max-width: 100%;
    height: auto;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 306px;
    height: 206px;
}

.catalog-item h3 {
    font-size: 16px;
    color: #000;
    float: left;
    max-width: 205px;
    margin: 0 0 20px 0;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-item-price{
    float: right;
    max-width: 55px;
    margin-bottom: 20px;
}

.popular-items {
    margin-bottom: 50px;
}

.to-catalog{
    position: absolute;
    top: 0;
    right: 0;
}

.catalog-item .btn-info{
    float: left;
    clear: left;
}

.catalog-item .btn-buy{
    float: right;
}

.catalog-item .btn{
    width: 101px;
    color: #fff;
    background-color: #a38b70;
}

.catalog-item .btn:hover{
    background-color: #8d745a;
}

.catalog-item .btn:active{
    color: rgba(255, 255, 255, 0.3);
}
/*Прайс-лист*/

.price-list {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px;
}

.price-list td {
    border: 1px solid #d8d8d8;
}

.price-list th {
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}

.price-list th,
.price-list td {

    padding: 10px 17px;
}

.price-list .price-number {
    text-align: center;
    width: 15px;
}

.price-list .price-name {
    font-weight: bold;
    color: #000;
    width: 422px;
}

.price-list .price-master{
    width: 306px;
}

.price-list .price-cost{
    width: 135px;
}

/*Форма для вопросов*/
.feedback {
    padding-top: 60px;
    padding-bottom: 70px;
}

.feedback-form-group {
    padding: 10px 0;
}

.feedback-tip {
    font-size: 16px;
}

.feedback-form-group label {
    font-size: 12px;
    text-transform: uppercase;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
    border-color: #bebebe;
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
    border-color: #8d745a;
}

.checkbox-area {
    border-bottom: 1px solid #d5d5d5;
}

.feedback-form {
    width: 630px;
    background: url("img/write.jpg") no-repeat 100% 40px;
    padding-right: 390px;
}

/*Подвал*/

.page-footer {
    padding-top: 45px;
    padding-bottom: 50px;
    background-color: #363636;
    color: #c3c3c3;
}

.footer-middle, .footer-bottom {
    border-top: 1px solid #5e5e5e;
}

.footer-menu h3 {
    font-family: "Georgia", serif;
    font-size: 24px;
    font-weight: bold;
    color: #a38b70;
}

.footer-menu ul {
    list-style-type: none;
}

.footer-menu a {
    font-size: 16px;
    color: #c3c3c3;
    text-decoration: none;
}

.footer-menu a:hover {
    color: #fff;
}

.footer-menu a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-social b {
    font-family: "Georgia", serif;
    font-size: 24px;
    color: #a38b70;
}

.social-btn {
    color: #fff;
}

.footer-copyright {
    color: #fff;
    text-transform: uppercase;
}

.footer-copyright a {
    color: #fff;
    text-decoration: none;
}

.footer-copyright a:hover {
    text-decoration: underline;
}

.footer-copyright a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-top {
    margin-bottom: 45px;
}

.footer-middle {
    padding-top: 50px;
    margin-bottom: 50px;
}

.footer-bottom {
    padding-top: 50px;
}

.footer-logo {
    float: left;
    width: 205px;
    height: 55px;
}

.footer-menu {
    float: left;
    width: 150px;
    margin-right: 20px;
}

.footer-social {
    width: 490px;
    float: left;
}

.footer-copyright {
    width: 236px;
    float: right;
}